# Snowflake 接続情報
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_DATABASE=sv_leauge_dev
SNOWFLAKE_SCHEMA=mbk_schema
SNOWFLAKE_WAREHOUSE=mbk_wh_dev
SNOWFLAKE_ROLE=SYSADMIN